.contact_us {
    position: relative;
    background-color: #C4C4C4;
    border-radius: 3px;
    padding: 7px;
    padding-top: 20px;
    padding-bottom: 45px;

}

input, textarea {
    font-size: 13pt;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    margin-top: 5px;
}

#subject {
    width: calc(100% - 4px);
    height: 30px;
}

#name {
    width: calc(50% - 7px);
    height: 30px;
}

#email {
    width: calc(50% - 6.4px);
    height: 30px;
}

#message {
    width: calc(100% - 2px);
    height: 225px;
    resize: none;
}

#submit {
    position: absolute;
    background-color: #0B414A;
    color: #f8f8f8;
    width: 100px;
    height: 30px;
    right: 7px;
    border-radius: 5px;
    border: 1px;
}

#vertical_line_hide{
    margin-left: 7%;
    margin-right: 2.85%;
    visibility: hidden;
}

h3 {
    color: #13434b;
}

@media only screen and (max-width: 960px) {
    #name {
        width: calc(100% - 4px);
    }

    #email {
        width: calc(100% - 4px);
    }
}
