.spacing {
    height: 20px;
    width: 100%;
}
.pspace {
    visibility: hidden;
}
.gul_container {
    width: 100%;
    height: 100px;
    text-align: center;
}
.utivdelse {
    border-radius: 3px;
    top: -3px;
}
td {
    vertical-align: bottom;
}
select {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
span {
    content: "\2605";
    color: #F8F8F8
}
.side p {
    padding: 5px 5px 5px 15px;
    font-size: 8pt;
}
p {
    font-size: 13pt;
}
.expander {
    position: absolute;
    width: 30px;
    height: 30px;
    left: calc(50% - 55px);
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    bottom: 10px;
    z-index: 1;
}
.pageHeader {
    text-align: center;
    font-size: 230%;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 0px;
}

@media only screen and (min-width: 320px) {
    .hotel_block {
        background-color: #13434b;
        width: 100%;
        height: 400px;
        margin: 0px;
        position: relative;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 0%;
        color: #F8F8F8;
        margin-bottom: 0px;
        border-radius: 3px;
        display: block;
    }
    .hotelbilde {
        position: absolute;
        top: 65px;
        left: 0px;
        padding: 10px;
        width: 100px;
        height: 100px;
        border-radius: 12px;
    }
    .hot_name {
        position: absolute;
        text-align: left;
        top: 0px;
        left: 25px;
        padding: 10px;
    }
    .side {
        position: relative;
        text-align: left;
        right: -110px;
        padding: 5px 5px 5px 15px;
        width: 220px;
        height: 100px;
        margin: 10px;
        border-left: solid white 1px;
        top: 70px;
        font-size: 12px;
    }
    #mapAdriana, #mapBarbo, #mapMarameda, #mapBP {
        position: relative;
        top: 15px;
        height: 130px;
        z-index: 1;
        width: 70%;
        display: inline-block;
    }
    .hotel_tekst {
        display: block;
        position: absolute;
        top: 50%;
        width: 90%;
        left: 20px;
        text-align: left;
    }
    .utivdelse {
        background-color: #13434b;
        width: 100%;
        height: 875px;
        position: relative;
        color: #F8F8F8;
    }
    .utivdelse .a {
        height: auto;
    }
    .ekstra_hotel_text {
        position: relative;
        top: 0%;
        width: 90%;
        left: 30px;
        text-align: left;
        display: block;
    }
    .gul_boks {
        background-color: rgb(255, 196, 0);
        margin-bottom: 10px;
        border: 2px solid rgb(204, 158, 7);
        text-align: left;
        color: #000000;
        position: absolute;
        bottom: 0px;
    }
    .gul_boks h2 {
        margin-top: 10px;
        text-align: center;
        padding: 20px;
    }
    .side1 {
        width: 40%;
        float: left;
        margin-left: 20px;
    }
    .side1 input {
        width: 100%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 10px;
    }
    .side2 {
        float: right;
    }
    .side2 select {
        margin-right: 20px;
    }
    .side3 {
        float: left;
        width: 100%;
        text-align: center;
    }
    .side3 input {
        width: 80%;
        padding: 4px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        max-width: 400px;
        display: inline-block;
        text-align: left;
    }
    .google_image_element {
        width: 100%;
        height: 100px;
        top: 20px;
        text-align: center;
    }
    .price {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        bottom: 200px;
        float: left;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .side4 {
        float: left;
        width: 100%;
        text-align: center;
    }
    .booking_btn {
        margin-top: 20px;
        background-color: #13434b;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        display: inline-block;
        border-radius: 10px;
    }
    input {
        padding: 10px;
    }
}

@media only screen and (min-width: 440px) {
    .utivdelse {
        height: 800px;
    }
    .hotel_block {
        height: 350px;
    }
    .hotel_tekst {
        top: 55%;
    }
}

@media only screen and (min-width: 710px) {
    .hotel_block {
        height: 300px;
    }
    .hotelbilde {
        top: 50px;
        width: 180px;
        height: 180px;
    }
    .hot_name {
        left: 40%;
        width: 40%;
    }
    .gul_boks {
        left: 1%;
        right: 1%;
        height: 450px;
    }
    .google_image {
        position: relative;
        width: 70%;
        height: 100px;
        display: inline-block;
    }
    .utivdelse {
        height: 740px;
    }
    .side {
        position: absolute;
        right: -60px;
        height: 90px;
        top: 10px;
    }
    .hotel_tekst {
        top: 48%;
        width: 60%;
        left: 220px;
    }
    .table3 td {
        padding-right: 20%;
        padding-left: 20%;
    }
    .booking_btn {
        max-width: 50%;
        padding: 20px;
    }
    .side1 {
        width: 50%;
        left: 20px;
        text-align: center;
        margin-left: 0px;
    }
    .side1 input {
        max-width: 50%;
    }
    .side2 {
        width: 50%;
        text-align: center;
    }
    .side2 select {
        display: inline-block;
    }
    .side4 {
        height: 100px;
    }
}

@media only screen and (min-width: 1000px) {
    .hotel_block {
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .hotelbilde {
        top: 20px;
        width: 240px;
        height: 240px;
    }
    .hot_name {
        display: inline-block;
    }
    .ekstra_hotel_text {
        width: 65%;
    }
    .google_image_element {
        width: 230px;
        right: 0px;
        position: absolute;
    }
    #mapAdriana, #mapBarbo, #mapMarameda, #mapBP {
        width: 180px;
        top: -65px;
        height: 180px;
        z-index: 1;
    }
    .side {
        right: -20px;
        height: 80%;
        font-size: 16px;
        z-index: 1;
    }
    .side p {
        font-size: 13pt;
    }
    .linje {
        position: absolute;
        text-align: left;
        right: -20px;
        padding: 5px 5px 5px 15px;
        width: 220px;
        height: 140%;
        margin: 10px;
        border-left: solid white 1px;
        top: 10px;
        font-size: 16px;
        z-index: 1;
    }
    .gul_boks {
        display: inline-block;
        height: 340px;
    }
    .hotel_tekst {
        top: 30%;
        width: calc(100% - 500px);
        left: 260px;
    }
    .utivdelse {
        width: 80%;
        left: 10%;
        height: 528px;
    }
    .side1 {
        width: 33%;
        float: left;
    }
    .side2 {
        width: 33%;
    }
    .side2 input {
        width: 100%;
        padding: 4px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .side3 {
        width: 33%;
    }
    .side3 input {
        width: 100%;
    }
    .price {
        font-size: 22px;
    }
    .booking_btn {
        padding: 15px 32px;
    }
    .side p {
        padding: 5px 10px 20px 15px;
    }
}