.hotel_blocks{
    background-color: #13434b;
    width: 80%;
    height: 200px;
    float: left;
    margin: 5px;
    position: relative;
    text-align: center;
    margin-left: 10%;
    color: #F8F8F8;

}


.pageHeader{
    text-align: center;
    font-size: 230%;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 0px;
}


.hot_images{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    height: 180px;
    width: 180px;



}


.hotel_text{
    position: absolute;
    text-align: left;
    top: 0px;
    left: 200px;
    width: 50%;
    padding: 10px;
}

span {
    content: "\2605";
    color:rgb(255, 208, 0)
  }
.rating{
    right: 25%;
    padding: 10px;
    top: 0px;
    position: absolute;
   
}

.vertical_line{
    border-left: 2px solid #3895a5;
    height: 160px;
    left: 80%;
    top: 10px;
    position: absolute;
    padding: 10px;

}

