body{
    font-family: Roboto Slab, sans-serif
}

/* Body */
.indexPicture{
    width: 100%;
    background-color: #13434b;
}

#portraitImage{
    height: inherit;
    margin-bottom: -10px;
    padding-bottom: 0px;
}

.portraitImage{
    width: 100%;
    min-height: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.aboutFile{
    margin: 0;
    padding: 0;
    width: 100%;
    /*height: 85vh;*/
    color: #f8f8f8;
    background-color: #13434b;
    font-size: 150%;
    vertical-align: middle;
}

.textWrapper{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 20%;
    line-height: normal;
}




/* Recomended activitis */
.recomendedSection{
    height: 55vh;
    width: 100%;
    text-align: center;
    padding-top: 10vh; 
    color: #13434b;
}

.recomendedHeader {
    font-size: 150%;
}

.activitis{
    width: 31.3%;
    height: auto; /* Should be auto, but the images needs to be of the same size for this to work */
    float: left;
    margin: 1%;
    position: relative;
}


.activitis a img{
    width: 100%;
    height: 100%;
}


.hoverInf{
    width: 100%;
    height: 2em;
    z-index: 1000;
    position: absolute;
    float: left;
    left: 0px;
    bottom: 0;
    color: #F8F8F8;
    background: rgba(19,67,76,0.8);
    -webkit-transition: height 0.4s;
    transition: height 0.4s;
    overflow: hidden;
    font-size: 1em;
}

.activitis a img:hover + .hoverInf, .hoverInf:hover{
    height: 100%;
}


/* When the site is loaded on a mobile device */
@media only screen and (max-device-width: 800px){
    /*.portraitImage{
        height: 45vh;
    }
    .aboutFile{
        height: 45vh;
    }*/
    .textWrapper{
        padding-top: 20%;
        font-size: 120%;
    }
    .recomendedSection{
        padding-top: 2vh;
    }
    
    .activitis{
        float: left;
        width: 40%;
        margin-left:30%;
        margin-bottom: 2%;
    }
    .hoverInf{
        left:inherit;
    }
}

/* When the screen less than 600px */
@media only screen and (max-width: 800px) {
    /*.portraitImage{
        height: 45vh;
    }
    .aboutFile{
        height: 45vh;
    }*/
    .textWrapper{
        padding-top: 15%;
        font-size: 65%;
    }
    .recomendedSection{
        padding-top: 2vh;
    }
    
    .activitis{
        float: left;
        width: 40%;
        margin-left:30%;
        margin-bottom: 2%;
        min-width: 170px;
    }
    .hoverInf{
        left:inherit;
    }
}