.pageHeader{
    text-align: center;
    font-size: 230%;
    font-family: 'Roboto Slab Thin', serif;
    color: #0B414A;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section {
    position: relative;
    width: 1300px;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.sectionText {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    width: 40%;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    color: #0B414A
}

.sectionImg {
    position: relative;
    width: 50%;
    height: auto;
    float: left;
}

.sectionHeader {
    font-family: 'Roboto Slab Thin', serif;
    margin-bottom: 20px;
    color: #0B414A;
}

.vertical_line{
    position: relative;
    border-left: 1.5px solid #0B414A;
    height: 92%;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

#vertical_line_1, #vertical_line_3 {
    margin-left: 7%;
    margin-right: 2.85%;
}

#vertical_line_2 {
    margin-left: 2.85%;
    margin-right: 7%;
}

@media only screen and (max-width: 1360px) and (min-width: 961px) {
    .section {
        width: calc(100% - 60px);
    }
    
    #vertical_line_1, #vertical_line_2, #vertical_line_3 {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    
    .sectionText {
        width: 45.85%;
    }

    .sectionImg {
        top: 50%;
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 960px) {
    .section {
        margin-bottom: 20px;
        width: calc(100% - 60px);
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .sectionText {
        order: 1;
        transform: none;
        width: 90%;
        left: 5%;
        margin-bottom: 10px;
    }

    .sectionImg {
        order: 2;
        transform: none;
        width: 90%;
        left: 5%;
    }

    .vertical_line {
        display: none;
    }

    .pageHeader {
        margin-bottom: 20px;
    }
}