html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.bottom_div {
  margin-top: 20px;
}
.restaurantBox {
  background-color: #13434b;
  width: 80%;
  height: 200px;
  margin: 5px;
  position: relative;
  text-align: center;
  margin-left: 10%;
  color: #f8f8f8;
  border-radius: 3px;
}
.restaurantExpansion {
  display: none;
  width: 80%;
  height: 200px;
  background-color: #13434b;
  top: -10px; /* To cover the radius of the previous box*/
  color: #f8f8f8;
  margin-left: 10%;
  position: relative;
  border-radius: 3px;
}
.restaurantBox img {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 6%;
}
.information {
  position: absolute;
  text-align: left;
  top: 0px;
  left: 200px;
  width: 40%;
  padding: 10px;
}
.restaurantExpansion .information {
  font-size: 13pt;
  width: 50%;
  margin-left: -80px;
}
.restaurantBox .quickInfo {
  font-style: italic;
  font-size: 10pt;
}
.restaurantBox .description {
  padding-top: 10px;
  font-size: 13pt;
}
.restaurantBox .rating {
  right: 25%;
  padding: 10px;
  top: 0px;
  position: absolute;
}
.restaurantBox .sidebar,
.restaurantExpansion .sidebar {
  position: absolute;
  text-align: left;
  top: 0;
  left: 70%;
  padding: 5px 5px 5px 15px;
  width: 25%;
  height: 170px;
  margin: 10px;
  border-left: solid white 1px;
}
.restaurantExpansion .sidebar {
  padding-top: 0;
  margin-top: -10px;
  height: 195px;
}
.restaurantBox p {
  padding: 10px;
  font-size: 10pt;
}
.arrowDownContainer {
  position: absolute;
  right: 50%;
  bottom: -10px;
}
img.arrowDown {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.restaurantBox .rating {
  position: absolute;
  top: 0;
  right: 0;
}

#mapPizza,
#mapSteak,
#mapSeafood,
#mapLobster {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1300px) {
  .arrowDownContainer {
    bottom: 10px;
  }
}
@media only screen and (max-width: 1100px) {
  .restaurantBox {
    margin-left: 5%;
    width: 90%;
    height: 320px;
  }
  .restaurantBox img {
    height: 100px;
    width: 130px;
  }
  .restaurantBox .information {
    position: absolute;
    width: 100%;
    top: 110px;
    left: 0;
  }
  .restaurantBox .sidebar {
    height: 90px;
    left: 140px;
    width: 80%;
  }
  .restaurantBox .sidebar p {
    padding: 2px;
    padding-left: 0;
  }
  .restaurantBox .rating {
    position: absolute;
    right: 25px;
  }
  .arrowDownContainer {
    position: absolute;
    left: 40%;
    bottom: 0;
  }
  img.arrowDown {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .restaurantExpansion {
    width: 90%;
    margin-left: 5%;
    height: 370px;
  }
  .restaurantExpansion .information {
    float: top;
    width: 90%;
    height: 100px;
    margin-right: 20px;
    margin-left: -180px;
  }
  .restaurantExpansion .sidebar {
    position: absolute;
    width: 90%;
    top: 233px;
    left: 0;
    height: 140px;
    border: none;
  }
}
@media only screen and (max-width: 1099px) and (min-width: 650px) {
  .restaurantExpansion {
    height: 305px;
  }
  .restaurantExpansion .sidebar {
    top: 168px;
  }
}

@media only screen and (max-width: 440px) {
  .restaurantExpansion {
    height: 430px;
  }
  .restaurantExpansion .sidebar {
    top: 293px;
  }
  .restaurantBox .rating {
    font-size: 7pt;
  }
}
@media only screen and (max-width: 350px) {
  .restaurantBox img {
    height: 70px;
    width: 90px;
  }
  .restaurantBox .sidebar {
    height: 65px;
    left: 100px;
    width: 80%;
  }
  img.arrowDown {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .restaurantBox .rating {
    position: absolute;
    right: 20px;
    font-size: 5pt;
  }
  .restaurantExpansion {
    height: 330px;
  }
  .restaurantExpansion .sidebar {
    top: 200px;
    height: 110px;
  }
  .restaurantBox .description {
    font-size: 10pt;
  }
  .restaurantExpansion .information {
    font-size: 10pt;
    padding: 4px;
  }
}
