#header {
  text-align: center;
  font-size: 230%;
  color: #0b414a;
  margin-top: 40px;
}
#one {
  margin-top: 1%;
}

.main_body {
  background-color: #F8F8F8;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.backbox{
  background-color: #13434b;
  height: auto;
  margin: 70px 70px;
  padding: 1%;
  border-radius: 5px;
}

.side1{
  display: inline-block;
  width: 60%;
}

.leftside1 {
  text-align: left;
  display: inline-block;
  width: 49.5%;
  overflow: auto;
}

.rightside1 {
  text-align: left;
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}

.side2{
  display: inline-block;
  width: 35%;
  text-align: center;
  vertical-align: top;
  padding: 2%;
  border-left: 2px solid #F8F8F8;
}

.leftside2 {
  text-align: left;
  display: inline-block;
  width: 47%;
}

.rightside2 {
  text-align: right;
  vertical-align: top;
  display: inline-block;
  width: 51.5%;
}

.boat {
  height: 100%;
  width: 98%;
  border-radius: 5px;
}

.description {
  color: #F8F8F8;
  font-size: 13pt;
}

.overskrift{
  font-size: 1.5vw;
}

.price{
  font-size: 2vw;
  text-align: right;
  vertical-align: middle;
  transition: 0.7s;
}

.price_zoom{
  transition: 0.7s;
  font-size: 2.2vw;
  text-align: right;
  vertical-align: middle;
}

form {
  color: #F8F8F8;
  font-size: 1vw;
}

input{
  height: 1.5vw;
  width: 15vw;
  font-style: italic;
  font-family: Roboto Slab;
  transition: 0.5s;
}

.input_start_time, .input_end_time {
  width: 8vw;
}

button{
  font-size: 1.4vw;
  font-weight: bold;
  width: 12vw;
  height: 3.5vw;
  background-color: #FAC917;
  color: #13434b;
  border-radius: 12px;
  transition: all 0.7s;
  cursor: pointer;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.7s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.7s;
}

button:hover span {
  padding-right: 30px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 1350px)  {
  .side1 {
    width: 100%;
    position: relative;
    padding-bottom: 15px;
  }
  .side2{
    width: 100%;
    border-left: none;
    padding: 10px 0px 0px ;
    margin: 10px 0px 0px;
  }
  .leftside2, .rightside2{
    text-align: center;
  }
  .description, form, input, .input_start_time, .input_end_time {
    font-size: 20px;
  }

  .price, .overskrift{
    font-size: 30px;
  }
  input{
    height: 2.5vw;
    width: 30vw;
  }
  .input_start_time, .input_end_time {
    width: 30vw;
  }
  button {
    width: 25vw;
    height: 60px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .side1::before {
    content : "";
    position: absolute;
    left    : 5%;
    bottom  : 0;
    height  : 0%;
    width   : 90%;  /* or 100px */
    border-top: 2px solid #F8F8F8;
  }
}

@media only screen and (max-device-width: 800px) {
  .leftside1 {
    width: 100%;
    overflow: auto;
    vertical-align: middle;
    text-align: center;
  }

  .rightside1, .leftside2, .rightside2 {
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }

  .rightside1 {
    text-align: left;
  }

  .overskrift {
    font-size: 5vw;
  }

  #header {
    font-size: 280%;
  }

  .description, form, input, .price, .input_start_time, .input_end_time {
    font-size: 30px;
  }

  input, .input_start_time, .input_end_time{
    height: 80px;
    width: 700px;
  }
  .input_start_time, .input_end_time {
    width: 250px;
  }
  button {
    width: 600px;
    height: 170px;
    font-size: 45px;
  }

  .backbox {
    padding: 30px;
  }

  button span:after {
    right: -80px;
  }

  button:hover span {
    padding-right: 80px;
  }
}
