#header {
  position: relative;
  margin-top: 3%;
  text-align: center;
  font-size: 4vw;
}
#one {
  margin-top: 1%;
}

.insidebox{
}

.main_body {
  background-color: #F8F8F8;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.backbox{
  background-color: #13434b;
  height: auto;
  margin: 70px 70px;
  padding: 1%;
}

.leftside1 {
  text-align: left;
  display: inline-block;
  width: 49.5%;
  overflow: auto;
}

.rightside1 {
  text-align: left;
  display: inline-block;
  width: 49.5%;
}

.side1{
  display: inline-block;
  width: 60%;
}

.side2{
  display: inline-block;
  width: 35%;
  vertical-align: top;
  text-align: left;
  padding: 2%;
  border-left: 2px solid #F8F8F8 ;
}

.boat {
  height: 100%;
  width: 98%;
  margin-top: 8px;
}

.description {
  color: #F8F8F8;
  font-size: 1.1vw;

  vertical-align: top;

}

.overskrift{
  font-size: 1.5vw;
}

.price{
  font-size: 2vw;
  text-align: right;
}

.verticalLine{
  border-left: 3px solid #F8F8F8 ;
}

form {
  color: #F8F8F8;
  font-size: 1vw;
}

input{
  height: 1.5vw;
  width: 15vw;
}
