/* Header */
body{
    background-color: #ffffff;
}

.titleBar{
    background-color: #13434b;
    width: 100%;
    height: 8vh;
    text-align: center;
    vertical-align: middle;
    color:white;
    min-width: 620px;
}

.headerImg{
    height: inherit;
}